@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&family=Inter:wght@400;700&display=swap");

:root {
  --font-base: "Lexend", sans-serif; /* Base font */
  --font-second: "Inter", sans-serif; /* Second font */
  --bg-color: #fffff; /* Example background color */
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  background: #111;
} */
